<div id="body">
    <div class="logo" id="logo">
        <a href="http://0.0.0.0:9090/">VRP_007</a>
    </div>

    <div class="menu" id="menu">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn" id="dbtn">Online Doorstep</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="{% url 'online_doorstep:online_doorstep' %}">main</a>
                <a href="{% url 'reporting:reporting' %}">Reporting_test</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>
</div>


<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>